.navbar-toggler.custom {
    border: none;
    background-color: transparent;
    padding: 40px;
  }
  
  .navbar-toggler .line {
    display: block;
    width: 45px;
    height: 8px;
    background-color: #b056be;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }

  .navbar-toggler.crossed .line:first-child {
    transform: translateY(4px) rotate(45deg);
  }
  
  .navbar-toggler.crossed .line:last-child {
    transform: translateY(-4px) rotate(-45deg);
  }

  .custom-navbar {
    padding-top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
  }

  .image{
    padding: 20px;
  }

  

  
  